    <!DOCTYPE html>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="/lib/bootstrap-4.3.1-dist/css/bootstrap.min.css">
    <script src="/lib/bootstrap-4.3.1-dist/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="static/style.css">
    <head>
        <title>Topic Stream</title>
    </head>    
    <body>
      <div class="container-fluid">
        <div id="title" class="container-fluid shadow-sm rounded">
          <h3 class="display-5" style="text-align: center">Topic Stream</h3>
          <p id="subtitle" class=" lead" style="text-align: center">
              Tool that allows you to explore the relationships between topics in a time frame. The topics are shown as nodes and the relations as links.</p>
            
          <!-- Modal -->
          <div class="modal fade" id="descriptionModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="titleModal"></h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div id="textModal" class="modal-body">
        
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>
          <!-- fine Modal -->
         <div class="modal" id="loadingModal" tabindex="-1" role="dialog" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="titleModal">Graph loading ...</h5>
                    <div class="d-flex justify-content-center">
                        <div class="spinner-border" role="status">
                          <span class="sr-only">Loading...</span>
                        </div>
                      </div>
                  </div>
                </div>
              </div>
            </div> 

          <div id="slider" class= "container-fluid">
          </div>
        </div>
        <div id="container" class="container-fluid"> 
            <div class="row">
            <div id="command" class="col-sm-2 rounded shadow p-3"> 
              <h4>User tools</h4>
              <hr class="my-4">
              <p>Choose the node you are interested in and the degree of "breadth first search" to show</p>
              <div id="searchAndDepth" class="container">
                  <div class="row">
                    <input type="text" id="searchInput"  class="form-control searchTerm col-sm" onkeyup="filterNodes()" onclick="clean()"placeholder="Filter"> 
                    <div class="input-group-append">
                              <select class="custom-select col-sm" id="depth">
                                <option value="1">One</option>
                                <option value="2">Two</option>
                                <option value="3">Three</option>
                                <option value="4">Four</option>
                              </select>
                    </div>
                  </div>
              </div>
              
              <div>
                <ul id="searchresults">

                </ul>
              </div>
              
              <div id="query-button-container" class="container-fluid">
                  <button id="push-query" type="button" class="btn btn-secondary btn-md btn-block">Push the query to show changes</button>
              </div>
              
            </div>
            <div id="vis" class="col-8">
            </div>
            <div id="description" class="col-sm-2 rounded shadow p-3">
                <h4>Query list</h4>
                <hr class="my-4">
                <div class="container-fluid">
                    <li class="list-group-item d-flex justify-content-between align-items-center active">
                        Active queries in the graph
                        <span id="query-counter" class="badge badge-primary badge-pill"></span>
                      </li>
                  <div class="row">
                      <ul id="querylist" class="list-group col-xl">
                      </ul>
                  </div>
            </div>
        </div>
      </div>

    <script src="/lib/d3.min.js"></script>  
    <script src="/lib/d3-queue.js"></script>  
    <script src="/controls/final/graphComponents.js"></script>
    <script src="/controls/final/updateGraphFunctions.js"></script>
    <script src="/controls/final/sliderFunctions.js"></script>
    <script src="/controls/final/sliderComponents.js"></script>
    <script src="/controls/final/buttonFunctions.js"></script>
    <script src="/controls/final/buttonComponents.js"></script>
    <script>

      var marginSlider = {top: 10, right: 20, bottom: 30, left: 100},
        widthSlider = 1200 - marginSlider.left - marginSlider.right,
        heightSlider = 50 - marginSlider.top - marginSlider.bottom;

      var margin = {top: 20, right: 40, bottom: 30, left: 20},
        width = 1180 - margin.left - margin.right,
        heightGraph =  700 - heightSlider,
        range = [2010,2018],
        step = 1; // change the step and if null, it'll switch back to a normal slider
      
      var dataset;
      var filteredDataNodes = [];
      var filteredDataLinks = [];
      var describePublications = [];
      var searchNodes = [];
      var queryList = [];
      var selectedNode;
      var selectedDepth;
      var freqTopics;
      var backNodePosition = [];
      var token;

      function update(data, year) {
        blockOldNodesInSamePosition(backNodePosition,filteredDataNodes);
        //save position of old nodes before changing year
        backNodePosition = filteredDataNodes; 
        nodes = updateGraphNodes(nodes, filteredDataNodes, describePublications);
        nodes.selectAll("circle").data(filteredDataNodes).style("fill","white") //,function(d){colors(d.queryIdList[0])});
        edges = updateGraphLinks(edges, filteredDataLinks);
        labels = updateGraphLabels(labels, filteredDataNodes);
        simulation = updateGraphSimulation(simulation, filteredDataNodes, filteredDataLinks);
      }

      ////////// GRAPH //////////
      const MAX_QUERY_ACTIVE = 10;
      //var scaleCircle = d3.scaleLinear().domain([1,200]).range([9,18]);
      var scaleCircle;
      var scaleLine = d3.scaleLinear().domain([1,150]).range([0.8,5]).clamp(true)
      //var scaleLineColors = d3.scaleLinear().domain([1,150]).range([0.3,0.7]).clamp(true)
      //var colorsScaleLine = d3.scaleSequential().domain([0,150]).interpolator(d3.interpolateOrRd);
      var colors = d3.scaleOrdinal().domain([0,MAX_QUERY_ACTIVE]).range(["#273746","#76448A","#2874A6","#1E8449","#D68910","#E74C3C","#F7DC6F","#7E5109","#5D6D7E","#ABB2B9","#371ab8","#ffbeb0","#acd490","#ff4dd8","#0fafff","#0fa699","#bd095d","#ba5665","#000000","#d4b181"]);

      var svg = makeGraphSvg(margin);
 
      //Create edges as lines
      var edges = makeGraphEdges(svg, filteredDataLinks);
      //create nodes as circles
      var nodes = makeGraphNodes(svg, filteredDataNodes);
      //add label to nodes
      var labels = makeGraphLabels(svg, filteredDataNodes);
      //Force simulation  
      var simulation = makeGraphSimulation(filteredDataNodes, filteredDataLinks, nodes, edges, labels);

      ////////// SLIDER //////////

      var currentYear;
      var svgSlider, rangeValues, xAxis, slider, handle, scaleTime, moving, playButton;

      //command component
      var pushQueryButton = makePushQueryButton();
      updateCounterQueries(queryList);
  
      var urlGenToken = '/auth/genToken';
      var urlAllFromYear = '/api/allFromYear/' + currentYear;
      var urlRangeYears = '/api/rangeYears';
      //var urlRangeWeight = '/api/weightRangeEdgesFromYear/' + currentYear;

      d3.queue()
        .defer(d3.json,urlGenToken)
        .defer(d3.json,urlRangeYears)
        .defer(d3.json,urlAllFromYear)
        //.defer(d3.json,urlRangeWeight)
        .await(function(error, dataToken, rangeYears, data, rangeWeight) {
        if(error) { 
          alert("There is a comunication error with database, please reload the page");
        }else{
          token = dataToken.token;
          if(rangeYears){
            range = [Number(rangeYears[0].min), Number(rangeYears[0].max)];
            currentYear = Number(rangeYears[0].min);
          }
         /*  if (rangeWeight && rangeWeight[0].min && rangeWeight[0].max){
            updateScaleLine(rangeWeight[0].min,rangeWeight[0].max);
          }  */
          dataset = data;
          scaleTime = makeSliderScaleTime(range, marginSlider);

          moving = false;
          playButton = makePlayButton(moving); 

          svgSlider = makeSliderSvg(marginSlider);
          rangeValues = makeSliderRangeValues(range);
          xAxis = makeSliderXAxis(scaleTime, rangeValues);
          slider = makeSliderLine(svgSlider, scaleTime, range);
          handle = makeSliderHandleAsCircle(slider);

          updatePositionCursorSlider(handle,scaleTime,currentYear);
          updateSearchNodes(currentYear, dataset);
          showQueryActive();
      }
      }); // end data handle

    </script>