     #title{
      background-color: #DEEDEF;
      margin-bottom: 0.5rem;
    }

    #svgGraph{
      background-color: #F8F9F9;
    } 

    #delete{
      background: red;
      border-radius: 3px;
      border: none;
      color: white;
      margin: 0;
      width: 4vmax;
      cursor: pointer;
      height: 1.5vmax;
      font-size: 0.5vmax;
      text-align: center;
      box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
      float: right;
    }

    span{
      font-size: 1vmin;
    }

    ::-webkit-scrollbar{
      display: none;
    } 

    .element{
      overflow: -moz-scrollbars-none;
    }

    .element{
      -ms-overflow-style:none;
    }
     
     body {
      font-family:"sans-serif","avenir next", "Arial";
      font-size: 1.3vmin; 
     /*  color: #FFFF; */
      /* background-color: #799cc6; */
      /* background-color: #BCF6FF; */
      /* background-color: #B7F4F3; */
      background-color: white;
      overflow: hidden;
    }

    #depth{
      border-bottom-left-radius: 0%;
      border-top-left-radius: 0%;
    }

    #command{
/*       background-color: rgba(135, 170, 212); */
      background-color: #DEEDEF;
    }

    #description{
/*       background-color: rgba(135, 170, 212); */
      background-color: #DEEDEF;
    }
    
    h4{
      margin-top:5%;
    }
    
/*     #container{
      height: 0;
      padding-bottom: 56.25%; 
      position: relative;
    } */

 /*    #command{
      float:left;
      width: 22%;
      height: 45vw; 
      border: 1px solid #333;
      font-size: 0.8vw;
      overflow: auto;
      border-radius: 5px 5px 5px 5px;
      box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
    } */

/*     #description{
      float: right;
      width: 22%;
      height: 45vw;
      border: 1px solid #333;
      overflow: auto;
      font-size: 0.8vw;
      border-radius: 5px 5px 5px 5px;
      box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
    } */
/* 
    #vis{
      display: inline-block;
      width: 55%;
      height: 45vw;
    } */


    #play-button{
      position: relative;
      top: 1.9vw;
      left: 3vw;   
      background: #f08080;
      border-radius: 3px;
      border: none;
      color: white;
      margin: 0;
      width: 5vw;
      cursor: pointer;
      height: 2.5vw;
      font-size: 1vw;
      text-align: center;
      box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
    }

    #play-button:hover {
      background-color: #696969;
    }    
    
    .ticks {
      font-size: 10px;
    }

    .track,
    .track-inset,
    .track-overlay {
      stroke-linecap: round;
    }

    .track {
      stroke: #000;
      stroke-opacity: 0.3;
      stroke-width: 10px;
    }

    .track-inset {
      stroke: #dcdcdc;
      stroke-width: 8px;
    }

    .track-overlay {
      pointer-events: stroke;
      stroke-width: 50px;
      stroke: transparent;
      cursor: crosshair;
    }

    .handle {
      fill: #f08080;
      stroke: #000;
      stroke-opacity: 0.5;
      stroke-width: 1.25px;
      box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
    }

    #searchInput{
      border-bottom-right-radius: 0%;
      border-top-right-radius: 0%;
    }
 /*    #searchAndDepth{
      width: 100%;
      position: relative;
      display: flex;
    } */

 /*    .searchTerm {
      border: 3px solid #f08080;
    } 

    .searchTerm:focus{
      color: #f08080;
    }

    .searchTerm:hover {
      border-color: #f08080;
    } */

/*     #depth {
      float:right;
      height: 2.7vw; 
    } */
   /*  .select-css {
      display: block;
      color: #444;
      line-height: 1.3;
      padding: .6em 1.4em .5em .8em;
      width: 100%;
      max-width: 100%;
      box-sizing: border-box;
      border: 3px solid #f08080;
      box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
      border-radius: 0 5px 5px 0;
      -moz-appearance: none;
      -webkit-appearance: none;
      appearance: none;
      background-color: #fff;
      background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
        linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%);
      background-repeat: no-repeat, repeat;
      background-position: right .7em top 50%, 0 0;
      background-size: .65em auto, 100%;
    } */
    .select-css::-ms-expand {
      display: none;
    }
    .select-css:hover {
      border-color: #888;
    }
    .select-css:focus {
      border-color: #aaa;
      box-shadow: #f08080;
      box-shadow: 0 0 0 3px -moz-mac-focusring;
      color: #222;
      outline: none;
    }
    .select-css option {
      font-weight:normal;
    }

    #searchresults, #querylist{
      list-style-type: none;
      padding: 0;
      margin-left: 0.8vw;
      margin-right: 0.8vw;
      margin-top: 0.8vw;
      /* height: 10vw; */
      height: 16vw;
      overflow: scroll; 
    }

    #searchresults li {
      border: 1px solid #ddd; 
      margin-top: -1px; 
      background-color: #f6f6f6; 
      padding: 7px; 
      text-decoration: none;
      color: black; 
      display: block; 
    }

/*     #querylist {
      overflow: auto;
      height: 10vw; 
    }

    #querylist tr {
      border: 1px solid #ddd; 
      margin-top: -1px; 
      background-color: #f6f6f6;
      display: block; 
      width:18vw;
    }
    #querylist td {
      padding: 7px; 
      text-decoration: none;
      color: black;
      width:8vw;
      text-align: center;
    } */

    #searchresults li:hover {
      background-color: #f0a294; 
    }

/*     #description p{
      margin-right: 5px;
      margin-left: 5px;
      font-size: 1.4vmin;
      text-align:justify;
    }
 */
/*     #command p,select, input{
      margin-right: 5px;
      margin-left: 5px;
      text-align: center;
      font-family:sans-serif,"avenir next", Arial;
      font-size: 1.4vmin;
    }
 */
    h1{
      font-size: 3vmin;
      text-align: center;
      font-family:sans-serif,"avenir next", Arial;
      vertical-align: middle;
    }

    h4{
      text-align: center;
      font-family:sans-serif,"avenir next", Arial;
    }
/* 
    #query-button-container{
      width: 100%;
      position: relative;
      display: block;
      text-align: center;
    }
 */
    #push-query{
      background-color: #f08080;
    }
    /* #push-query{
      
      border: 3px solid #f08080;
      height: 2vw;
      width: 18.5vw;
      border-radius: 5px 5px 5px 5px;
      outline: none;
      color: black;
      box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
      background-color: white;
      padding: 0.2vw;
    }

    #push-query:hover {
      background-color: #696969;
      border-color: #696969;
    } 
    #update-graph:hover {
      background-color: #696969;
      border-color: #696969;
    }  */ 

    .color-box {
      float: left;
      width: 8px;
      height: 8px;
      border: 1px solid rgba(0, 0, 0, .2);
    }

    .list-group-item{
      color: white;
    }